<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}
h1, h2, p {
    margin-bottom: 20px;
=======
.exercise-image img{
    width: 200px;
}

.exercise{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px;
}

.exercise-card{
    width: 50%;
>>>>>>> 248c2b2afaeb6e55f0dd85e2ef21c6a4cdf2de03
}